IoT/Exp1TelemetryFlow.txt
[{"id":"3acd7e80.456052","type":"tab","label":"Telemetry Flow","disabled":false,"info":""},{"id":"4c70c965.936788","type":"tab","label":"Processing Flow","disabled":true,"info":""},{"id":"29267733.a1d1d8","type":"tab","label":"Dashboard + API Flow","disabled":true,"info":""},{"id":"7f78f90b.110a28","type":"tab","label":"Telemetry Flow","disabled":true,"info":""},{"id":"cb3ab816.1bf3f8","type":"tab","label":"Processing Flow","disabled":true,"info":""},{"id":"75b98e26.785ab","type":"tab","label":"Dashboard + API Flow","disabled":true,"info":""},{"id":"332e0c78.fb9eb4","type":"tab","label":"Rules Flow","disabled":true,"info":""},{"id":"45950fa3.ba634","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"618471e0.4110a","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"e7a58d55.8559c","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"Sensores","name":""},{"id":"fdd52cfb.bcb1b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c9b11272.f093e","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"26990924.d5db46","type":"ui_group","z":"","name":"Estado del Depósito","tab":"c9b11272.f093e","disp":true,"width":"6"},{"id":"ad8c4c9a.1e48c","type":"ui_group","z":"","name":"Estádo del Depósito (Promedio)","tab":"c9b11272.f093e","disp":true,"width":"6"},{"id":"89ffa231.0e8cc","type":"mqtt-broker","z":"","broker":"172.24.42.50","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"98be627f.381cb","type":"serial-port","z":"","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"3f4cb01d.f12e2","type":"mqtt-broker","z":"","broker":"172.24.42.62","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3a470fd6.fa7e2","type":"mqtt-broker","z":"","broker":"172.24.42.61","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ec1737a1.46f658","type":"mqtt-broker","z":"","broker":"172.24.42.59","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"48f02f81.1be7f","type":"serial in","z":"3acd7e80.456052","name":"Send data","serial":"618471e0.4110a","x":120,"y":80,"wires":[["41c32288.a06d2c"]]},{"id":"44b56f4d.c7a2","type":"inject","z":"3acd7e80.456052","name":"Sensor Time","topic":"sensorTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":160,"y":220,"wires":[["1b9481c4.d8a05e"]]},{"id":"41c32288.a06d2c","type":"function","z":"3acd7e80.456052","name":"Format data","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\");\nCO2Unit = tempArray[3].replace(\"\\r\\n\", \"\");\nsoundUnit = tempArray[5].replace(\"\\r\\n\", \"\");\nlightUnit = tempArray[7].replace(\"\\r\\n\", \"\");\nres.topic = \"data\";\nres.payload = {};\n\nres.payload = {\"temperature\": parseInt(tempArray[0]), \"tempUnit\": tempUnit, \"CO2\": parseInt(tempArray[2]), \"CO2Unit\":CO2Unit, \"sound\":parseInt(tempArray[4]), \"soundUnit\": soundUnit, \"light\":parseInt(tempArray[6]), \"lightUnit\": lightUnit};\n\n//node.log(res.payload.temperature);\n\nreturn res;","outputs":1,"noerr":0,"x":380.5,"y":121,"wires":[["d3fd5df8.5344d"]]},{"id":"1b9481c4.d8a05e","type":"function","z":"3acd7e80.456052","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\n//node.log(res.payload)\n\nreturn res;","outputs":1,"noerr":0,"x":378.5,"y":213,"wires":[["d3fd5df8.5344d"]]},{"id":"d3fd5df8.5344d","type":"function","z":"3acd7e80.456052","name":"Merge data","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"sensorTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"data\":\n        context.data.data = msg.payload;\n        msg = null;\n        break;\n    case \"temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"sound\":\n        context.data.sound = msg.payload;\n        msg = null;\n        break;\n    case \"CO2\":\n        context.data.co2 = msg.payload;\n        msg = null;\n        break;\n    case \"light\":\n        context.data.light = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data != null ) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"senseData\"\n    //node.log(String(res.payload));\n    //node.log(String(context.data));\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":605.1666870117188,"y":169,"wires":[["da2cec14.1e026","918a4193.94494","5539f8c6.587188","56efddb8.915024","f2efea5d.f59bf8","f3223239.7266d"]]},{"id":"918a4193.94494","type":"udp out","z":"3acd7e80.456052","name":"Send Data","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":859,"y":282,"wires":[]},{"id":"114213a5.66c93c","type":"udp in","z":"4c70c965.936788","name":"UDP incoming","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":123.16667175292969,"y":129,"wires":[["654c1a46.3155a4"]]},{"id":"654c1a46.3155a4","type":"json","z":"4c70c965.936788","name":"Format to JSON","pretty":true,"x":331.16668701171875,"y":130.33334350585938,"wires":[["a2602d6c.4229a"]]},{"id":"a2602d6c.4229a","type":"function","z":"4c70c965.936788","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"senseData\";\n\n//node.log(JSON.stringify(res.payload));\n\nreturn res;","outputs":1,"noerr":0,"x":521.1666870117188,"y":131,"wires":[["8b997c61.a64e"]]},{"id":"8b997c61.a64e","type":"function","z":"4c70c965.936788","name":"Merge 2 msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"senseData\":\n        //node.log(JSON.stringify(msg.payload));\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime !== null && context.data.sense !== null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"senseData\"\n    context.data = null;\n    //node.log(JSON.stringify(res.payload));\n\treturn res;\n}","outputs":1,"noerr":0,"x":683.1666870117188,"y":213,"wires":[["d0f1a033.7e21b","8134207f.5366e"]]},{"id":"d0f1a033.7e21b","type":"mongodb out","z":"4c70c965.936788","mongodb":"e7a58d55.8559c","name":"Save Datapsec","collection":"datapsec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":880,"y":280,"wires":[]},{"id":"8134207f.5366e","type":"link out","z":"4c70c965.936788","name":"","links":["14655f01.309141"],"x":865.1666870117188,"y":195.33334350585938,"wires":[]},{"id":"e86ba998.b12ca8","type":"inject","z":"4c70c965.936788","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":160,"y":300,"wires":[["968a3818.472bf8"]]},{"id":"968a3818.472bf8","type":"function","z":"4c70c965.936788","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["8b997c61.a64e"]]},{"id":"d59e91bb.04329","type":"inject","z":"4c70c965.936788","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":175.16668701171875,"y":375,"wires":[["85b3848f.0af238"]]},{"id":"85b3848f.0af238","type":"function","z":"4c70c965.936788","name":"Create Query","func":"  var res = {};\n  res.skip = 0;\n  res.limit = 60;\n  var signal = msg.payload;\n\n  var maxtime = new Date(Date.now() - 1*60*1000).toISOString();\n  var query = {'room.sensetime':{$gte: maxtime}};\n\n  if(signal === true){\n\n      res.payload = query;\n      res.topic = \"mongoQuery\"\n      return res;\n  }","outputs":1,"noerr":0,"x":391.16668701171875,"y":374.3333435058594,"wires":[["3cd6ec92.d29044"]]},{"id":"f8072376.09b3","type":"function","z":"4c70c965.936788","name":"Processing Average","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.temperature.unit;\nvar avgPlace = query[0].room.temperature.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.temperature.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, temperature:{data:avgTemp, unit:avgUnit, place:avgPlace}};\nres.topic = \"avgpminTemperature\";\nreturn res;","outputs":1,"noerr":0,"x":681.1666870117188,"y":374.3333435058594,"wires":[["790cdba1.da6b64","6d5848af.d7fc78"]]},{"id":"3cd6ec92.d29044","type":"mongodb in","z":"4c70c965.936788","mongodb":"e7a58d55.8559c","name":"Find Datapmin","collection":"datapsec","operation":"find","x":531.1666870117188,"y":420.3333435058594,"wires":[["f8072376.09b3"]]},{"id":"6d5848af.d7fc78","type":"mongodb out","z":"4c70c965.936788","mongodb":"e7a58d55.8559c","name":"Save Datapmin","collection":"datapmin","payonly":false,"upsert":false,"multi":false,"operation":"store","x":901.8333435058594,"y":370.3333435058594,"wires":[]},{"id":"790cdba1.da6b64","type":"link out","z":"4c70c965.936788","name":"","links":["cc0db16f.af7c7"],"x":887.8333435058594,"y":417.3333435058594,"wires":[]},{"id":"e2639c5d.8f53d","type":"http in","z":"29267733.a1d1d8","name":"","url":"/temperature/sec/find","method":"get","upload":false,"swaggerDoc":"","x":150,"y":40,"wires":[["92a5e64d.2c0408"]]},{"id":"1486e6b0.3bc939","type":"http in","z":"29267733.a1d1d8","name":"","url":"/temperature/min/find","method":"get","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["64639e19.d62f"]]},{"id":"53214e58.21a1c","type":"http in","z":"29267733.a1d1d8","name":"","url":"/temperature/sec/count","method":"get","upload":false,"swaggerDoc":"","x":140,"y":140,"wires":[["2605f1d.889890e"]]},{"id":"1db6821b.be526e","type":"http in","z":"29267733.a1d1d8","name":"","url":"/temperature/min/count","method":"get","upload":false,"swaggerDoc":"","x":149.1666717529297,"y":213.66668701171875,"wires":[["5c423a0f.26f194"]]},{"id":"92a5e64d.2c0408","type":"mongodb in","z":"29267733.a1d1d8","mongodb":"e7a58d55.8559c","name":"Find Datapsec","collection":"fatapsec","operation":"find","x":400,"y":40,"wires":[["f6d81c02.a7d9e"]]},{"id":"2605f1d.889890e","type":"mongodb in","z":"29267733.a1d1d8","mongodb":"e7a58d55.8559c","name":"Count Datapsec","collection":"datapsec","operation":"count","x":400,"y":140,"wires":[["e3447261.7ff87"]]},{"id":"64639e19.d62f","type":"mongodb in","z":"29267733.a1d1d8","mongodb":"e7a58d55.8559c","name":"Find Datapmin","collection":"datapmin","operation":"find","x":400,"y":100,"wires":[["51df34a.8bd94cc"]]},{"id":"5c423a0f.26f194","type":"mongodb in","z":"29267733.a1d1d8","mongodb":"e7a58d55.8559c","name":"Count Datapmin","collection":"datapmin","operation":"count","x":400,"y":200,"wires":[["f3cc6652.bda8b8"]]},{"id":"f6d81c02.a7d9e","type":"function","z":"29267733.a1d1d8","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":40,"wires":[["c2e7d6e3.e8f468"]]},{"id":"51df34a.8bd94cc","type":"function","z":"29267733.a1d1d8","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["376d8135.71d17e"]]},{"id":"e3447261.7ff87","type":"function","z":"29267733.a1d1d8","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["c72d1959.5406b8"]]},{"id":"f3cc6652.bda8b8","type":"function","z":"29267733.a1d1d8","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["6240ba9e.fd2494"]]},{"id":"c2e7d6e3.e8f468","type":"http response","z":"29267733.a1d1d8","name":"http find temp/sec","statusCode":"","headers":{},"x":770,"y":40,"wires":[]},{"id":"376d8135.71d17e","type":"http response","z":"29267733.a1d1d8","name":"http find temp/min","statusCode":"","headers":{},"x":770,"y":100,"wires":[]},{"id":"c72d1959.5406b8","type":"http response","z":"29267733.a1d1d8","name":"http count temp/sec","statusCode":"","headers":{},"x":770,"y":140,"wires":[]},{"id":"6240ba9e.fd2494","type":"http response","z":"29267733.a1d1d8","name":"http count temp/min","statusCode":"","headers":{},"x":770,"y":200,"wires":[]},{"id":"14655f01.309141","type":"link in","z":"29267733.a1d1d8","name":"Secs","links":["8134207f.5366e"],"x":103.16667175292969,"y":316.3333435058594,"wires":[["7e553c13.d26ce4"]]},{"id":"7e553c13.d26ce4","type":"function","z":"29267733.a1d1d8","name":"Format 4 Secs","func":"var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar CO2 = 0;\nvar sound = 0;\nvar light = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\nvar res3 = {payload:null};\nvar res4 = {payload:null};\nvar res5 = {payload:null};\n\ntime = input.sense.sensetime;\ntemp = input.sense.temperature.data;\nCO2 = input.sense.CO2;\nsound = input.sense.sound;\nlight = input.sense.light;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\nres3.payload = CO2;\nres3.topic = \"CO2\";\nres4.payload = sound;\nres4.topic = \"sound\";\nres5.payload = light;\nres5.topic = \"light\";\n\nreturn [res1, res2, res3, res4, res5];","outputs":"5","noerr":0,"x":260,"y":320,"wires":[["f502eafb.01c9e8","3550368b.53d15a","342749e0.2ed966"],["62352454.98774c"],[],[],[]]},{"id":"f502eafb.01c9e8","type":"ui_chart","z":"29267733.a1d1d8","name":"Temperatur Sec Chart","group":"26990924.d5db46","order":1,"width":0,"height":0,"label":"Histórico de Temperatura [sec]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Sin Datos","dot":false,"ymin":"0","ymax":"35","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":520,"y":280,"wires":[[],[]]},{"id":"3550368b.53d15a","type":"ui_text","z":"29267733.a1d1d8","group":"26990924.d5db46","order":2,"width":0,"height":0,"name":"Sense Temperatura","label":"Temperatura Actual","format":"{{msg.payload}}","layout":"row-spread","x":516,"y":320,"wires":[]},{"id":"342749e0.2ed966","type":"ui_gauge","z":"29267733.a1d1d8","name":"Instant Sec Temperature","group":"26990924.d5db46","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperatura Actual","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":538,"y":364,"wires":[]},{"id":"cc0db16f.af7c7","type":"link in","z":"29267733.a1d1d8","name":"Mins","links":["790cdba1.da6b64"],"x":115,"y":500,"wires":[["dd079884.896268"]]},{"id":"dd079884.896268","type":"function","z":"29267733.a1d1d8","name":"Format 4 Mins*","func":"var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.protime;\ntemp = input.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":"2","noerr":0,"x":273.00001525878906,"y":497.3333435058594,"wires":[["12851606.1b8dba","ab0d7f6b.73cba","73c47bb2.a9a354"],["2daf178f.aab888"]]},{"id":"12851606.1b8dba","type":"ui_text","z":"29267733.a1d1d8","group":"ad8c4c9a.1e48c","order":6,"width":0,"height":0,"name":"Sense Tempmin","label":"Temperatura promedio último minuto","format":"{{msg.payload}}","layout":"row-spread","x":497.00001525878906,"y":507,"wires":[]},{"id":"ab0d7f6b.73cba","type":"ui_gauge","z":"29267733.a1d1d8","name":"Instant Min Temperature","group":"ad8c4c9a.1e48c","order":8,"width":0,"height":0,"gtype":"gage","title":"Tiempo Promedio","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":529.0000152587891,"y":551,"wires":[]},{"id":"73c47bb2.a9a354","type":"ui_chart","z":"29267733.a1d1d8","name":"Temperatur Min Chart","group":"ad8c4c9a.1e48c","order":5,"width":0,"height":0,"label":"Histórico de Temperatura [min]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Sin Datos","dot":false,"ymin":"0","ymax":"35","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":520,"y":460,"wires":[[],[]]},{"id":"62352454.98774c","type":"ui_text","z":"29267733.a1d1d8","group":"26990924.d5db46","order":3,"width":0,"height":0,"name":"Sense Time","label":"Tiempo temperatura/sec","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":400,"wires":[]},{"id":"2daf178f.aab888","type":"ui_text","z":"29267733.a1d1d8","group":"ad8c4c9a.1e48c","order":7,"width":0,"height":0,"name":"Sense Timemin","label":"Tiempo minuto","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":600,"wires":[]},{"id":"da2cec14.1e026","type":"debug","z":"3acd7e80.456052","name":"","active":true,"console":"false","complete":"payload","x":821.2523193359375,"y":356.3958435058594,"wires":[]},{"id":"1f16ef1e.095341","type":"inject","z":"7f78f90b.110a28","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":160,"y":220,"wires":[["684b1451.44bf3c"]]},{"id":"32d6b43a.779f2c","type":"function","z":"7f78f90b.110a28","name":"Format temperature","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\");\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[0]), \"unit\": tempUnit, \"place\": \"Deposito Externo\"};\n\nreturn res;","outputs":1,"noerr":0,"x":410.5,"y":121,"wires":[["8ec7a327.cb105"]]},{"id":"684b1451.44bf3c","type":"function","z":"7f78f90b.110a28","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":378.5,"y":213,"wires":[["8ec7a327.cb105"]]},{"id":"8ec7a327.cb105","type":"function","z":"7f78f90b.110a28","name":"Merge 2 messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.temperature != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":625.1666870117188,"y":169,"wires":[["42bd1d0.237c6e4","54299eee.8e0b4"]]},{"id":"42bd1d0.237c6e4","type":"udp out","z":"7f78f90b.110a28","name":"Send Temperature","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":890,"y":160,"wires":[]},{"id":"a4456fa0.a9079","type":"udp in","z":"cb3ab816.1bf3f8","name":"UDP incoming","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":123.16667175292969,"y":129,"wires":[["3a8da74f.682e08"]]},{"id":"3a8da74f.682e08","type":"json","z":"cb3ab816.1bf3f8","name":"Format to JSON","pretty":true,"x":331.16668701171875,"y":130.33334350585938,"wires":[["9c02e5fc.c02488"]]},{"id":"9c02e5fc.c02488","type":"function","z":"cb3ab816.1bf3f8","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomTemperature\";\n\nreturn res;","outputs":1,"noerr":0,"x":521.1666870117188,"y":131,"wires":[["fcf51431.89f088"]]},{"id":"fcf51431.89f088","type":"function","z":"cb3ab816.1bf3f8","name":"Merge 2 msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime !== null && context.data.room !== null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":683.1666870117188,"y":213,"wires":[["e9b66d18.1b9cb","335ec18e.bf469e"]]},{"id":"e9b66d18.1b9cb","type":"mongodb out","z":"cb3ab816.1bf3f8","mongodb":"e7a58d55.8559c","name":"Save Tpsec","collection":"temperaturespsec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":870,"y":280,"wires":[]},{"id":"335ec18e.bf469e","type":"link out","z":"cb3ab816.1bf3f8","name":"","links":["c0745a63.72d328"],"x":865.1666870117188,"y":195.33334350585938,"wires":[]},{"id":"54a96a09.ab8b24","type":"inject","z":"cb3ab816.1bf3f8","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":160,"y":300,"wires":[["c6fe89d4.e24ea8"]]},{"id":"c6fe89d4.e24ea8","type":"function","z":"cb3ab816.1bf3f8","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["fcf51431.89f088"]]},{"id":"b26ebe9a.d7e8e","type":"inject","z":"cb3ab816.1bf3f8","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":175.16668701171875,"y":375,"wires":[["45af16ba.1a8fe8"]]},{"id":"45af16ba.1a8fe8","type":"function","z":"cb3ab816.1bf3f8","name":"Create Query","func":"  var res = {};\n  res.skip = 0;\n  res.limit = 60;\n  var signal = msg.payload;\n\n  var maxtime = new Date(Date.now() - 1*60*1000).toISOString();\n  var query = {'room.sensetime':{$gte: maxtime}};\n\n  if(signal === true){\n\n      res.payload = query;\n      res.topic = \"mongoQuery\"\n      return res;\n  }","outputs":1,"noerr":0,"x":391.16668701171875,"y":374.3333435058594,"wires":[["4fa1825e.16c55c"]]},{"id":"4bfc87b3.657108","type":"function","z":"cb3ab816.1bf3f8","name":"Processing Average","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.temperature.unit;\nvar avgPlace = query[0].room.temperature.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.temperature.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, temperature:{data:avgTemp, unit:avgUnit, place:avgPlace}};\nres.topic = \"avgpminTemperature\";\nreturn res;","outputs":1,"noerr":0,"x":681.1666870117188,"y":374.3333435058594,"wires":[["d014deb6.c17f9","c543d182.2d112"]]},{"id":"4fa1825e.16c55c","type":"mongodb in","z":"cb3ab816.1bf3f8","mongodb":"e7a58d55.8559c","name":"Find Tpmin","collection":"temperaturespsec","operation":"find","x":521.1666870117188,"y":420.3333435058594,"wires":[["4bfc87b3.657108"]]},{"id":"c543d182.2d112","type":"mongodb out","z":"cb3ab816.1bf3f8","mongodb":"e7a58d55.8559c","name":"Save Tpmin","collection":"temperaturespmin","payonly":false,"upsert":false,"multi":false,"operation":"store","x":891.8333435058594,"y":370.3333435058594,"wires":[]},{"id":"d014deb6.c17f9","type":"link out","z":"cb3ab816.1bf3f8","name":"","links":["cab89c4b.bbd37"],"x":887.8333435058594,"y":417.3333435058594,"wires":[]},{"id":"2512d842.b8a008","type":"http in","z":"75b98e26.785ab","name":"","url":"/temperature/sec/find","method":"get","upload":false,"swaggerDoc":"","x":157.1666717529297,"y":49.66667175292969,"wires":[["4a193a20.69c844"]]},{"id":"57e50ffd.57d0d","type":"http in","z":"75b98e26.785ab","name":"","url":"/temperature/min/find","method":"get","upload":false,"swaggerDoc":"","x":157.1666717529297,"y":99.66667175292969,"wires":[["10fe19c2.a91dd6"]]},{"id":"7fd3d61c.e79aa8","type":"http in","z":"75b98e26.785ab","name":"","url":"/temperature/sec/count","method":"get","upload":false,"swaggerDoc":"","x":155.1666717529297,"y":153.6666717529297,"wires":[["3428819d.bd13fe"]]},{"id":"17fe1416.9a9ddc","type":"http in","z":"75b98e26.785ab","name":"","url":"/temperature/min/count","method":"get","upload":false,"swaggerDoc":"","x":149.1666717529297,"y":213.66668701171875,"wires":[["217c3bb1.26fce4"]]},{"id":"4a193a20.69c844","type":"mongodb in","z":"75b98e26.785ab","mongodb":"e7a58d55.8559c","name":"Find Tpsec","collection":"temperaturespsec","operation":"find","x":390,"y":60,"wires":[["e91fa8d3.f1bd68"]]},{"id":"3428819d.bd13fe","type":"mongodb in","z":"75b98e26.785ab","mongodb":"e7a58d55.8559c","name":"Count Tpsec","collection":"temperaturespsec","operation":"count","x":390,"y":140,"wires":[["4026731.03ba98c"]]},{"id":"10fe19c2.a91dd6","type":"mongodb in","z":"75b98e26.785ab","mongodb":"e7a58d55.8559c","name":"Find Tpmin","collection":"temperaturespmin","operation":"find","x":390,"y":100,"wires":[["59222b1f.7f0c14"]]},{"id":"217c3bb1.26fce4","type":"mongodb in","z":"75b98e26.785ab","mongodb":"e7a58d55.8559c","name":"Count Tpmin","collection":"temperaturespmin","operation":"count","x":390,"y":200,"wires":[["d700fa52.3a8108"]]},{"id":"e91fa8d3.f1bd68","type":"function","z":"75b98e26.785ab","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":567.1666870117188,"y":60.333335876464844,"wires":[["9b02ffd6.0618c"]]},{"id":"59222b1f.7f0c14","type":"function","z":"75b98e26.785ab","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":96,"wires":[["95ed9ce6.c8bbe"]]},{"id":"4026731.03ba98c","type":"function","z":"75b98e26.785ab","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["906b4754.f7d918"]]},{"id":"d700fa52.3a8108","type":"function","z":"75b98e26.785ab","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["80908d04.99df5"]]},{"id":"9b02ffd6.0618c","type":"http response","z":"75b98e26.785ab","name":"http find temp/sec","statusCode":"","headers":{},"x":770,"y":60,"wires":[]},{"id":"95ed9ce6.c8bbe","type":"http response","z":"75b98e26.785ab","name":"http find temp/min","statusCode":"","headers":{},"x":770,"y":100,"wires":[]},{"id":"906b4754.f7d918","type":"http response","z":"75b98e26.785ab","name":"http count temp/sec","statusCode":"","headers":{},"x":770,"y":140,"wires":[]},{"id":"80908d04.99df5","type":"http response","z":"75b98e26.785ab","name":"http count temp/min","statusCode":"","headers":{},"x":770,"y":200,"wires":[]},{"id":"c0745a63.72d328","type":"link in","z":"75b98e26.785ab","name":"Secs","links":["335ec18e.bf469e"],"x":103.16667175292969,"y":316.3333435058594,"wires":[["1cfc658a.4d7b8a"]]},{"id":"1cfc658a.4d7b8a","type":"function","z":"75b98e26.785ab","name":"Format 4 Secs","func":"var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":"2","noerr":0,"x":260,"y":320,"wires":[["d51a1547.0fb418","bd542417.00bb08","65bf3b03.57e6e4"],["3c4fa0e9.11c36"]]},{"id":"d51a1547.0fb418","type":"ui_chart","z":"75b98e26.785ab","name":"Temperatur Sec Chart","group":"26990924.d5db46","order":1,"width":0,"height":0,"label":"Histórico de Temperatura [sec]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Sin Datos","dot":false,"ymin":"0","ymax":"35","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":520,"y":280,"wires":[[],[]]},{"id":"bd542417.00bb08","type":"ui_text","z":"75b98e26.785ab","group":"26990924.d5db46","order":2,"width":0,"height":0,"name":"Sense Temperatura","label":"Temperatura Actual","format":"{{msg.payload}}","layout":"row-spread","x":516,"y":320,"wires":[]},{"id":"65bf3b03.57e6e4","type":"ui_gauge","z":"75b98e26.785ab","name":"Instant Sec Temperature","group":"26990924.d5db46","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperatura Actual","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":538,"y":364,"wires":[]},{"id":"cab89c4b.bbd37","type":"link in","z":"75b98e26.785ab","name":"Mins","links":["d014deb6.c17f9"],"x":115,"y":500,"wires":[["7de232f9.4b1a2c"]]},{"id":"7de232f9.4b1a2c","type":"function","z":"75b98e26.785ab","name":"Format 4 Mins*","func":"var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.protime;\ntemp = input.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":"2","noerr":0,"x":273.00001525878906,"y":497.3333435058594,"wires":[["6f0736f3.6773e8","11209c41.84f914","b993cda5.5a315"],["a5ac9d8d.bc483"]]},{"id":"6f0736f3.6773e8","type":"ui_text","z":"75b98e26.785ab","group":"ad8c4c9a.1e48c","order":6,"width":0,"height":0,"name":"Sense Tempmin","label":"Temperatura promedio último minuto","format":"{{msg.payload}}","layout":"row-spread","x":497.00001525878906,"y":507,"wires":[]},{"id":"11209c41.84f914","type":"ui_gauge","z":"75b98e26.785ab","name":"Instant Min Temperature","group":"ad8c4c9a.1e48c","order":8,"width":0,"height":0,"gtype":"gage","title":"Tiempo Promedio","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":529.0000152587891,"y":551,"wires":[]},{"id":"b993cda5.5a315","type":"ui_chart","z":"75b98e26.785ab","name":"Temperatur Min Chart","group":"ad8c4c9a.1e48c","order":5,"width":0,"height":0,"label":"Histórico de Temperatura [min]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Sin Datos","dot":false,"ymin":"0","ymax":"35","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":520,"y":460,"wires":[[],[]]},{"id":"3c4fa0e9.11c36","type":"ui_text","z":"75b98e26.785ab","group":"26990924.d5db46","order":3,"width":0,"height":0,"name":"Sense Time","label":"Tiempo temperatura/sec","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":400,"wires":[]},{"id":"a5ac9d8d.bc483","type":"ui_text","z":"75b98e26.785ab","group":"ad8c4c9a.1e48c","order":7,"width":0,"height":0,"name":"Sense Timemin","label":"Tiempo minuto","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":600,"wires":[]},{"id":"183dce4d.a23872","type":"mqtt in","z":"332e0c78.fb9eb4","name":"","topic":"alta/piso1/local1","qos":"0","broker":"89ffa231.0e8cc","x":140,"y":120,"wires":[["ca5549b9.2acd08"]]},{"id":"ca5549b9.2acd08","type":"json","z":"332e0c78.fb9eb4","name":"Format to JSON","pretty":true,"x":340,"y":120,"wires":[["6fd9658b.c5a6fc"]]},{"id":"6fd9658b.c5a6fc","type":"function","z":"332e0c78.fb9eb4","name":"Processing Data","func":"var msg = msg.payload.temperature;\nres = {};\nres.data = 0;\n\nif(msg.data > 23.0){\n    res = {};\n    res.payload = \"TEMPERATURA FUERA DE RANGO\\rLugar: \" + msg.place;\n    res.payload += \"\\rValor: \" + msg.data + \" °C\"\n    res.flag = 1;\n    \n    msg.topic = \"TEMPERATURA FUERA DE RANGO\";\n    \n    return res;\n}\nreturn res;","outputs":1,"noerr":0,"x":562.75,"y":117.99305725097656,"wires":[["a55b7dfd.cef21"]]},{"id":"a55b7dfd.cef21","type":"switch","z":"332e0c78.fb9eb4","name":"filter","property":"flag","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":730,"y":120,"wires":[["b0e69ab.2d1be68"]]},{"id":"b0e69ab.2d1be68","type":"e-mail","z":"332e0c78.fb9eb4","server":"smtp.office365.com","port":"587","secure":false,"name":"e.galvis10@uniandes.edu.co","dname":"Send Notification","x":971.6597595214844,"y":115.91897583007812,"wires":[]},{"id":"db9380d3.93286","type":"serial in","z":"7f78f90b.110a28","name":"","serial":"98be627f.381cb","x":110,"y":120,"wires":[["32d6b43a.779f2c"]]},{"id":"54299eee.8e0b4","type":"mqtt out","z":"7f78f90b.110a28","name":"","topic":"alta.piso1.local1","qos":"0","retain":"false","broker":"89ffa231.0e8cc","x":820,"y":80,"wires":[]},{"id":"7aa3b15.8974f5","type":"inject","z":"7f78f90b.110a28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":572.1067810058594,"y":48.981773376464844,"wires":[["54299eee.8e0b4"]]},{"id":"5539f8c6.587188","type":"mqtt out","z":"3acd7e80.456052","name":"","topic":"alta.piso1.local1","qos":"0","retain":"false","broker":"89ffa231.0e8cc","x":854,"y":88,"wires":[]},{"id":"56efddb8.915024","type":"mqtt out","z":"3acd7e80.456052","name":"","topic":"alta.piso1.local1","qos":"0","retain":"false","broker":"3f4cb01d.f12e2","x":854,"y":28,"wires":[]},{"id":"f2efea5d.f59bf8","type":"mqtt out","z":"3acd7e80.456052","name":"","topic":"alta.piso1.local1","qos":"0","retain":"false","broker":"3a470fd6.fa7e2","x":854,"y":142,"wires":[]},{"id":"f3223239.7266d","type":"mqtt out","z":"3acd7e80.456052","name":"","topic":"alta.piso1.local1","qos":"0","retain":"false","broker":"ec1737a1.46f658","x":850,"y":197,"wires":[]},{"id":"75d056f8.21fde8","type":"serial in","z":"45950fa3.ba634","name":"Send data","serial":"618471e0.4110a","x":121,"y":97,"wires":[["b88a6314.76c5a"]]},{"id":"bb78522d.6f2a6","type":"inject","z":"45950fa3.ba634","name":"Sensor Time","topic":"sensorTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":161,"y":237,"wires":[["afc307a1.2cf438"]]},{"id":"b88a6314.76c5a","type":"function","z":"45950fa3.ba634","name":"Format data","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\");\nCO2Unit = tempArray[3].replace(\"\\r\\n\", \"\");\nsoundUnit = tempArray[5].replace(\"\\r\\n\", \"\");\nlightUnit = tempArray[7].replace(\"\\r\\n\", \"\");\nres.topic = \"data\";\nres.payload = {};\n\nres.payload = {\"temperature\": parseInt(tempArray[0]), \"tempUnit\": tempUnit, \"CO2\": parseInt(tempArray[2]), \"CO2Unit\":CO2Unit, \"sound\":parseInt(tempArray[4]), \"soundUnit\": soundUnit, \"light\":parseInt(tempArray[6]), \"lightUnit\": lightUnit};\n\n//node.log(res.payload.temperature);\n\nreturn res;","outputs":1,"noerr":0,"x":381.5,"y":138,"wires":[["d5b98e43.12b5f"]]},{"id":"afc307a1.2cf438","type":"function","z":"45950fa3.ba634","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\n//node.log(res.payload)\n\nreturn res;","outputs":1,"noerr":0,"x":379.5,"y":230,"wires":[["d5b98e43.12b5f"]]},{"id":"d5b98e43.12b5f","type":"function","z":"45950fa3.ba634","name":"Merge data","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"sensorTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"data\":\n        context.data.data = msg.payload;\n        msg = null;\n        break;\n    case \"temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"sound\":\n        context.data.sound = msg.payload;\n        msg = null;\n        break;\n    case \"CO2\":\n        context.data.co2 = msg.payload;\n        msg = null;\n        break;\n    case \"light\":\n        context.data.light = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data != null ) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"senseData\"\n    //node.log(String(res.payload));\n    //node.log(String(context.data));\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":606.1666870117188,"y":186,"wires":[[]]},{"id":"24618f98.f930d","type":"serial in","z":"45950fa3.ba634","name":"Send data","serial":"618471e0.4110a","x":148,"y":299,"wires":[["31d12358.9cd98c"]]},{"id":"69a4774.0810788","type":"inject","z":"45950fa3.ba634","name":"Sensor Time","topic":"sensorTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":188,"y":439,"wires":[["f7a9ef96.48849"]]},{"id":"31d12358.9cd98c","type":"function","z":"45950fa3.ba634","name":"Format data","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\");\nCO2Unit = tempArray[3].replace(\"\\r\\n\", \"\");\nsoundUnit = tempArray[5].replace(\"\\r\\n\", \"\");\nlightUnit = tempArray[7].replace(\"\\r\\n\", \"\");\nres.topic = \"data\";\nres.payload = {};\n\nres.payload = {\"temperature\": parseInt(tempArray[0]), \"tempUnit\": tempUnit, \"CO2\": parseInt(tempArray[2]), \"CO2Unit\":CO2Unit, \"sound\":parseInt(tempArray[4]), \"soundUnit\": soundUnit, \"light\":parseInt(tempArray[6]), \"lightUnit\": lightUnit};\n\n//node.log(res.payload.temperature);\n\nreturn res;","outputs":1,"noerr":0,"x":408.5,"y":340,"wires":[["9ac88056.136a7"]]},{"id":"f7a9ef96.48849","type":"function","z":"45950fa3.ba634","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\n//node.log(res.payload)\n\nreturn res;","outputs":1,"noerr":0,"x":406.5,"y":432,"wires":[["9ac88056.136a7"]]},{"id":"9ac88056.136a7","type":"function","z":"45950fa3.ba634","name":"Merge data","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"sensorTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"data\":\n        context.data.data = msg.payload;\n        msg = null;\n        break;\n    case \"temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"sound\":\n        context.data.sound = msg.payload;\n        msg = null;\n        break;\n    case \"CO2\":\n        context.data.co2 = msg.payload;\n        msg = null;\n        break;\n    case \"light\":\n        context.data.light = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data != null ) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"senseData\"\n    //node.log(String(res.payload));\n    //node.log(String(context.data));\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":633.1666870117188,"y":388,"wires":[[]]}]