entrega_1/Exp1TelemetryFlow.txt
[
    {
        "id": "d3f481e0.32fc",
        "type": "tab",
        "label": "Telemetry Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2986a4cc.2145ec",
        "type": "serial in",
        "z": "d3f481e0.32fc",
        "name": "Send data",
        "serial": "470b5812.2e5008",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "f94b4d49.74231"
            ]
        ]
    },
    {
        "id": "23f0789f.0cc3e8",
        "type": "inject",
        "z": "d3f481e0.32fc",
        "name": "Sensor Time",
        "topic": "sensorTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "f8af35a1.a45d88"
            ]
        ]
    },
    {
        "id": "f94b4d49.74231",
        "type": "function",
        "z": "d3f481e0.32fc",
        "name": "Format data",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\");\nCO2Unit = tempArray[3].replace(\"\\r\\n\", \"\");\nsoundUnit = tempArray[5].replace(\"\\r\\n\", \"\");\nlightUnit = tempArray[7].replace(\"\\r\\n\", \"\");\nres.topic = \"data\";\nres.payload = {};\n\nres.payload = {\"temperature\": parseInt(tempArray[0]), \"tempUnit\": tempUnit, \"CO2\": parseInt(tempArray[2]), \"CO2Unit\":CO2Unit, \"sound\":parseInt(tempArray[4]), \"soundUnit\": soundUnit, \"light\":parseInt(tempArray[6]), \"lightUnit\": lightUnit};\n\n//node.log(res.payload.temperature);\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 380.5,
        "y": 121,
        "wires": [
            [
                "6a828676.c2a7b8"
            ]
        ]
    },
    {
        "id": "f8af35a1.a45d88",
        "type": "function",
        "z": "d3f481e0.32fc",
        "name": "Format Time",
        "func": "var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\n//node.log(res.payload)\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 378.5,
        "y": 213,
        "wires": [
            [
                "6a828676.c2a7b8"
            ]
        ]
    },
    {
        "id": "6a828676.c2a7b8",
        "type": "function",
        "z": "d3f481e0.32fc",
        "name": "Merge data",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) { \n    case \"sensorTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"data\":\n        context.data.data = msg.payload;\n        msg = null;\n        break;\n    case \"temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"sound\":\n        context.data.sound = msg.payload;\n        msg = null;\n        break;\n    case \"CO2\":\n        context.data.co2 = msg.payload;\n        msg = null;\n        break;\n    case \"light\":\n        context.data.light = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime !== null && context.data !== null ) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"senseData\"\n    node.log(String(res.payload));\n    //node.log(String(context.data));\n    context.data = null;\n\treturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 605.1666870117188,
        "y": 169,
        "wires": [
            [
                "f3117602.164998",
                "6dbc81b1.7cff6"
            ]
        ]
    },
    {
        "id": "6dbc81b1.7cff6",
        "type": "udp out",
        "z": "d3f481e0.32fc",
        "name": "Send Data",
        "addr": "localhost",
        "iface": "",
        "port": "6000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "f3117602.164998",
        "type": "debug",
        "z": "d3f481e0.32fc",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 769.2523498535156,
        "y": 243.39584350585938,
        "wires": []
    },
    {
        "id": "470b5812.2e5008",
        "type": "serial-port",
        "z": "",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    }
]